<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <h2 class="vg-h1">Movie DB <img src="/templates/logo.png/" width="45px" height="45px">
        <button class="btn btn-info btn-lg center-block pull-right" ng-click="model.profile()">Profile</button>
    </h2>
</nav>

<br/>
<br/>
<br/>
<br/>
<div>
    <ul>
        <h2>Users(username / role / email): </h2>

        <li ng-repeat="user in model.users">
            <h3> {{user.username}} / {{user.role}} / {{user.email}}

                <div>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="model.deleteUser(user)">
                        <span class="glyphicon glyphicon-minus"></span> Delete User
                    </button>

                    <button type="button" class="btn btn-primary btn-sm" ng-click="">
                        <span class="glyphicon glyphicon-pencil"></span> Edit User
                    </button>
                </div>
            </h3>
    </ul>
</div>

<nav class="navbar navbar-light bg-light navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <p class="footer">&copy; Himanshu, Rohit</p>
        </div>
    </div>
</nav>