<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <h2 class="vg-h1">Movie DB <img src="/templates/logo.png/" width="45px" height="45px">

        <button ng-click="model.logout()" class="btn btn-success btn-lg center-block pull-right">Logout</button>
    </h2>
</nav>

<br>

<div class="row">

        <center> <i> <h1 style="color: darkolivegreen"> Followers :</h1> </i> </center>
        <br>

        <li ng-repeat="follower in model.followers">

            <center> <h2> Resident Name : {{follower.username}} </h2> </center>
            <br>

        </li>


</div>

<div class="row">

    <center><i><h1 style="color:rosybrown"> All Reviews</h1></i></center>

    <br>

    <li ng-repeat="review in model.reviews">

        <center> <h2> Review :{{review.review}}</h2> </center>
        <center> <h2> Created :{{review.created}}</h2> </center>
        <br>
        <br>

    </li>

</div>


<nav class="navbar navbar-light bg-light navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <p class="footer">&copy; Himanshu, Rohit</p>
        </div>
    </div>
</nav>