<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <h2 class="vg-h1">Movie DB <img src="/templates/logo.png/" width="45px" height="45px">

        <button ng-click="model.logout()" class="btn btn-success btn-lg center-block pull-right">Logout</button>
    </h2>
</nav>

<br>

<div class="row">

    <div class="col-lg-6">

        <ul>
            <i> <h1 style="color: darkolivegreen"> Following Critics :</h1> </i>
            <br>

            <li ng-repeat="critic in model.followsCritics">

                <h2> Critic Name :{{critic.username}} </h2>
                <br>

            </li>

        </ul>
    </div>


    <div class="col-lg-6">

        <ul>
        <i><h1 style="color:cornflowerblue"> All Critics</h1></i>

            <br>

            <li ng-repeat="criticVal in model.allCritics">


                <h2> Critic Name :{{criticVal.username}}

                    <button type="button" class="btn badge btn-sm"
                            ng-click="model.followCritic(criticVal.id)">
                        <span class="glyphicon glyphicon-plus"></span> Follow Critic
                    </button>

                </h2>

                <br>

            </li>

        </ul>
    </div>

</div>

<div class="row">

        <center><i><h1 style="color:rosybrown"> All Reviews</h1></i></center>

        <br>


        <li ng-repeat="review in model.reviews">

            <center> <h2> Review :{{review.review}}</h2> </center>
            <center> <h2> Created :{{review.created}}</h2> </center>
            <center> <h2> Endorsed :{{review.endorsedByCritic}}</h2> </center>
            <br>
            <br>

        </li>

</div>


<nav class="navbar navbar-light bg-light navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <p class="footer">&copy; Himanshu, Rohit</p>
        </div>
    </div>
</nav>