<nav class="navbar navbar-inverse bg-inverse navbar-fixed-top">
    <h2 class="vg-h1">Movie DB <img src="/templates/logo.png/" width="45px" height="45px"></h2>
</nav>

<br>
<H1>This us the User search page</H1>

<a class="btn btn-primary btn-block"
   ng-click="model.watchlists(user)">Go to your  Watchlists</a>
<br>

<input ng-model="search.text"
       name="search"
       id="search"
       type="text"
       class="form-control"
       placeholder="Search. . ."
       required/>
<br>

<a class="btn btn-primary btn-block"
   ng-click="model.searchMovies(user)">Search</a>
<br>

<nav class="navbar navbar-light bg-light navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <p class="footer">&copy; Himanshu, Rohit</p>
        </div>
    </div>
</nav>